<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" %}
    <title>Blogs</title>
</head>
<body>
    {% include "navbar.html" %}
    <header class="masthead" style="background-image: url('../static/assets/img/blog.jpg') ; ">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Blogs</h1>
                            <h2>All new news is old news happening to new people</h2>
                        </div>
                    </div>
                </div>
            </div>
        </header>
            <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    {% for blog in blogs%}
                    <div class="post-preview">
                        <a href="{{ url_for("post_page", title=blog["title"]) }}">
                            <h2 class="post-title">{{ blog["title"] }}</h2>
                            <h3 class="post-subtitle">{{ blog["description"] }}</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#">{{ blog["author"]}}</a>
                            on {{ blog["publishedAt"] }}
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    {% endfor %}
                    <a href="/blogs/{{ prev }}"><button class="btn padding-my-btn btn-primary">PREVIOUS</button></a>
                    <a href="/blogs/{{ next }}"><button class="btn btn-primary padding-my-btn" href="/blogs/{{ next }}" style="margin-left:55%; position: absolute ">NEXT</button></a>
              </div>
                </div>
            </div>
        </div>
    <br>
{% include "footer.html" %}
</body>
</html>