<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if id_present == "0" %}
        <title>Add-Blog</title>
{#        {% set blog = 0 %}#}
    {% else %}
{#        {% set blog = id_present %}#}
        <title>Edit-Blog</title>
    {% endif %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="../static/css/styles.css" rel="stylesheet" />
</head>
<body>
    {% include "navbar-admin.html" %}
<header class="masthead" style="background-image: url('../static/assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Admin Panel</h1>
                            <span class="subheading">Edit Your Files Hear</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

{#    <h1>{{ eb.title }}</h1>#}
    <form class="padding-given" action="{{ url_for("edit", id_blog=id_present) }}" method="post">
    {% if id_present == "0"  %}
        <h1>Add-Blog</h1>
    {% else %}
        <h1>Edit-Blog</h1>
    {% endif %}
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" placeholder="title" name="title" value="{{ post.title }}">
      </div>
      <div class="form-group">
        <label for="s-description" >Slug</label>
        <input type="text" class="form-control" id="slug" placeholder="Slug"  name="slug" value="{{ post.slug }}">
      </div>
      <div class="form-group">
        <label for="s-description" >Shot-description</label>
          <textarea rows="2" type="text" class="form-control" id="title" placeholder="title" name="s-d">{{ post.short_description }}</textarea>
      </div>
        <div class="form-group">
        <label for="s-description" >Author</label>
        <input type="text" class="form-control" id="author" placeholder="Author Name" value="{{ post.author }}" name="author">
      </div>
      <div class="form-group">
        <label for="s-description" >Image Link</label>
        <input type="text" class="form-control" id="img" placeholder="Image Link" value=" {{ post.image_link }}" name="img_link">
      </div>
              <div class="form-group">
        <label for="exampleFormControlTextarea1">Full Description</label>
        <textarea class="form-control" id="full-des" name="f-d" rows="30">{{ post.full_description }}</textarea>
      </div>


    <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Edit</button>
    </form>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>