<!DOCTYPE html>
<html lang="en">
{% include "head.html" %}
<title>Guidance</title>

<body>
    <!-- Navigation-->
    {% include "navbar.html" %}
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('../static/assets/img/guide.png')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="page-heading">
                        <h1>Guidance</h1>
                        <span class="subheading">lf you allow yourself to expect guidance, guidance will show up</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content-->
    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <h1 class="center-it heading" style="margin-top: 1rem">Guide To Invest</h1>
                    <div class="heading">
                        <h5>Lazy to read then listen</h5>
                        <audio controls controlsList="nodownload"><source src="../static/assets/audio/Guide.mp3" type="audio/mp3"></audio>
                    </div>
                    <h3>Following are the types of investment available in India:</h3>
                    <ul>
                        <a href="#stocks">
                            <li><span class="font-16"><span class="default-text-color">Stocks</span></span></li>
                        </a>
                        <a href="#cod">
                            <li><span class="font-16"><span class="default-text-color">Certificate of
                                        Deposit</span></span></li>
                        </a>
                        <a href="#bond">
                            <li><span class="font-16"><span class="default-text-color">Bonds</span></span></li>
                        </a>
                        <a href="#land">
                            <li><span class="font-16"><span class="default-text-color">Real Estate</span></span></li>
                        </a>
                        <a href="#fd">
                            <li><span class="font-16"><span class="default-text-color">Fixed Deposits</span></span></li>
                        </a>
                        <a href="#mf">
                            <li><span class="font-16"><span class="default-text-color">Mutual Funds</span></span></li>
                        </a>
                        <a href="#ppf">
                            <li><span class="font-16"><span class="default-text-color">Public Provident Fund
                                        (PPF)</span></span></li>
                        </a>
                        <a href="#nps">
                            <li><span class="font-16"><span class="default-text-color">National Pension System
                                        (NPS)</span></span></li>
                        </a>
                        <a href="#ulc">
                            <li><span class="font-16"><span class="default-text-color">Unit Linked Insurance Plan
                                        (ULIP)</span></span></li>
                        </a>
                        <a href="#sc">
                            <li><span class="font-16"><span class="default-text-color">Senior Citizens Savings
                                        Scheme</span></span></li>
                        </a> </ul>
                    <div id="stocks">
                        <h3>1. Stocks</h3>
                        <p>investments in equity markets or stocks provide avenue for wealth creation over a long period
                            of
                            time. It takes a great deal of research and prudence to understand the different types of
                            investment opportunities and identify the right stocks to invest in. You also need to time
                            your
                            entry and exit prudently, and it involves continuous monitoring of investments. Capital
                            appreciation happens over long period of time and is dependent upon market volatility.
                            Depending
                            on the types of investors in India, stock investments can bring good returns on the basis of
                            risk-appetite. The good news is that in the long run, some of the stocks has been shown to
                            deliver greater inflation-adjusted returns when compared with many other classes of assets.
                        </p>
                        <h4>How and where to start</h4>
                        <article>
                            <ul>
                                <li>
                                    <h2>Find the right broker -</h2>
                                    <p>In India, people trade stocks on the following two platforms:</p>

                                    <p><strong>a) Bombay Stock Exchange(<a
                                                href="https://www.indiainfoline.com/investment-guide/what-is-sensex-bse-nse-nifty">BSE</a>)
                                            -</strong>Established in 1875, it’s the oldest stock exchange in Asia. </p>
                                    <p>
                                        <strong>b) National Stock Exchange(<a
                                                href="https://www.indiainfoline.com/investment-guide/what-is-sensex-bse-nse-nifty">NSE</a>)
                                            -</strong>
                                        This is the largest stock exchange in India. </p>
                                    <p>However, to gain access to these exchanges, retail traders need to register with
                                        brokerage firms or Depository Participants(DPs) first. It is important to find
                                        the
                                        right DP as retail investors will buy, store, and sell stocks through them. They
                                        will provide the interface through which you will interact with the stock
                                        market. It
                                        is preferable to open an electronic 2-in-1 Demat and trading account with a DP
                                        as
                                        these accounts let you trade in stocks from the convenience of your home. An
                                        electronic account is also helpful as it lets you see all your positions at a
                                        single
                                        glance. </p>
                                    <p>
                                        Certain DPs provide real-time market data to registered users. In the stock
                                        market,
                                        information is money, and the latest research can mean the difference between a
                                        profitable or a loss-making trade. Therefore, choose your broker or DP
                                        thoughtfully
                                        before you start trading.<br>
                                        Once you have zeroed in on a DP of your choice, keep the following documents
                                        handy.
                                    </p>
                                </li>

                                <li>
                                    <h2>Required Documents-</h2>
                                    <p> To trade stocks, you will need a <a
                                            href="https://www.indiainfoline.com/about-demat-account">demat account</a>
                                        to
                                        store your positions electronically and a trading account to execute the trades.
                                        Most DPs offer a 2-in-1 demat and trading account. Here are the documents that
                                        are
                                        required to open such an account:</p>

                                    <p>a) Permanent Address Proof</p>
                                    <p>b) Identity Proof </p>
                                    <p>c) e-KYC - Certain DPs will let you link your AADHAR card to your trading account
                                        electronically, thereby removing the need for manually scanning your aadhar card
                                    </p>
                                    <p>d) Additional information like annual salary range may also be required.</p>

                                    <p>IIFL provides a smooth application process to open an <a
                                            href="https://www.indiainfoline.com/about-demat-account/difference-between-demat-account-and-trading-account">online
                                            demat and trading account</a>. The application process can be completed
                                        online -
                                        there is no need to manage heaps of paperwork of stand in long queues. IIFL also
                                        provides its registered users with cutting-edge data and analysis that helps
                                        them
                                        stay ahead of the game. IIFL’s interface is adaptive, and changes according to
                                        the
                                        financial goals and risk appetites of the users. The world of trading stocks is
                                        vast
                                        and complicated, and an IIFL <a
                                            href="https://www.indiainfoline.com/about-trading-account">trading
                                            account</a>
                                        can be your trusted guide through it. </p>
                                </li>
                                <li>
                                    <h2>Difference between trading and investing -</h2> Once all the documents are
                                    submitted, the DP will cross-check the submitted details and then provide you with
                                    the
                                    login details. With these details, you can log into your account and start trading.
                                    There are two distinct strategies that you can choose from:
                                    <p></p>
                                    <h3>a) Trading:</h3> In this strategy, you will aim to turn short-term price
                                    fluctuations into profits. This strategy is mostly followed by intraday traders who
                                    clear all their positions by the end of day. The aim here is to take large,
                                    voluminous
                                    positions and look to sell upon the smallest or price fluctuations. <p></p>
                                    <p></p>
                                    <h3>b) Investing:</h3> Contrary to trading, investing means to hold your positions
                                    for
                                    long periods of time. The aim here is to discover undervalued companies, buy their
                                    stock, and maintain your position in them through the temporary market ups and
                                    downs.<p>
                                    </p>
                                </li>
                                <li>
                                    <h2>Conducting background research about a company -</h2>
                                    <p>Before buying a company’s stock, it is important to conduct thorough research on
                                        the
                                        company’s background. A trader should consider the following factors:</p>

                                    <p> a) The company’s revenue model </p>
                                    <p> b) The company’s management stability </p>
                                    <p> c) The company’s competitors, etc.</p>

                                </li>
                                <li>
                                    <h2>Build a diverse portfolio -</h2>
                                    <p> While <a
                                            href="https://www.indiainfoline.com/investment-guide/how-to-start-investing-in-the-stock-market">investing
                                            in the stock market</a>, it is important to maintain a diverse portfolio. As
                                        a
                                        trader you must mix up different sectors in your portfolio so that your
                                        portfolio is
                                        not uniquely vulnerable to the ups and downs in one sector. Traders should also
                                        look
                                        to invest in large-cap companies for stable but small returns, and small-cap
                                        companies for large but more unreliable returns. </p>
                                </li>
                            </ul>
                        </article>
                    </div>
                    <div id="cod">
                        <h3>2. Certificate of Deposit </h3>
                        <p>Among the many investment types in India, Certificate of Deposit is a money market instrument
                            which is issued against the funds deposited by an investor. It is invested with the bank in
                            a dematerialized form for a certain period of time. Certificate of Deposit is issued by
                            Federal Deposit Insurance Corporation (FDIC) and regulated by the Reserve Bank of India
                            (RBI).</p>
                        <h4>Investment tips for Certificate of Deposit</h4>
                        <p>1.A CD can be issued to a single issuer for a minimum of Rs.1 Lakh and its multiples</p>
                        <p>2.Maturity period of a Certificate of Deposit issued by the commercial banks can range from 7
                            days to 1 year. Whereas, maturity period for a certificate of deposit issued by financial
                            institutions ranges from 1 year to 3 years</p>
                        <h4>How and where to start</h4>
                        <article>
                            <h2>Difference Between CD vs FD</h2>
                            <p>There is no major difference between a certificate of deposit and a fixed deposit. They
                                are one and the same. Fixed deposits are even referred to as CDs or time deposits by
                                certain banks. They come with the same term period, a minimum requirement for a deposit,
                                and high-interest rates compared to traditional savings accounts. One difference is that
                                CDs are freely negotiable while FDs are not.</p>
                        </article>
                        <article>
                            <h2>Features of CD</h2>
                            <p>Here are some salient features of CD’s and how they compare to other financial
                                instruments.</p>
                            <ul>
                                <li> <span class="arrow arrow-bar is-right"></span>CDs can be issued in India for a
                                    minimum deposit of ₹1 lakh and in subsequent multiples of it.</li>
                                <li> <span class="arrow arrow-bar is-right"></span>Scheduled Commercial Banks (SCBs) and
                                    All-India Financial Institutions are eligible to issue a CD. Cooperative Banks and
                                    RRBs cannot issue a CD.</li>
                                <li> <span class="arrow arrow-bar is-right"></span>CDs issued by SCBs have in term
                                    period anywhere between 3 months to a year. </li>
                                <li> <span class="arrow arrow-bar is-right"></span>CDs issued by financial institutions
                                    have a term period ranging from 1–3 years.</li>
                                <li> <span class="arrow arrow-bar is-right"></span>Similar to dematerialized securities,
                                    CDs in dematerialized forms are transferable through means of endorsement or
                                    delivery.</li>
                                <li> <span class="arrow arrow-bar is-right"></span>There is no lock-in required for a
                                    CD.</li>
                                <li> <span class="arrow arrow-bar is-right"></span>One cannot issue a loan against a CD.
                                </li>
                                <li> <span class="arrow arrow-bar is-right"></span>A certificate of deposit is fully
                                    taxable under the Income Tax Act.</li>
                                <li> <span class="arrow arrow-bar is-right"></span>A CD cannot be publicly traded.</li>
                                <li> <span class="arrow arrow-bar is-right"></span>Banks are not permitted to buy back a
                                    CD before its maturity.</li>
                            </ul>
                        </article>
                        <article>
                            <h2>Difference between CD vs Commercial Paper</h2>
                            <p>There are two glaring differences between commercial paper and a CD. The first is who can
                                issue them. A CD is issued by financial institutions and banks. Commercial papers are
                                issued by primary dealers, large corporations and All-India Financial Institutions. The
                                second difference is the minimum amount of deposit. A certificate of deposit requires a
                                minimum investment of ₹1 lakh and thereafter permits multiples of it. A commercial
                                paper, on the other hand, is issued for investments of at least ₹5 lakhs and in
                                multiples of ₹5 lakh, thereafter.
                            </p>
                        </article>
                        <article>
                            <h2>When Do Banks Issue a CD in India?</h2>
                            <p>CDs can be high-risk liabilities for any scheduled commercial bank. There are certain
                                times where some banks are more likely to issue a CD compared to others. There can be
                                boiled down to two factors:</p>
                            <ul>
                                <li> <span class="arrow arrow-bar is-right"></span>In case of both low deposit growth
                                    and high demand for credit.</li>
                                <li> <span class="arrow arrow-bar is-right"></span>When there are stiff or tight
                                    liquidity conditions in the market signifying that cash is tied up in non-liquid
                                    assets.</li>
                            </ul>
                            <p>*NRIs that have invested in a CD are not permitted to repatriate to their home country
                                after the amount has matured.</p>
                        </article>
                        <article>
                            <h2>Advantages of Issuing CD in India</h2>
                            <p>CD There are benefits to issuing a CD which makes it such a popular choice among
                                investors. They are:</p>
                            <ul>
                                <li>
                                    <h3>Security:</h3>
                                    A certificate of deposit or FD is not going to eat up your capital due to market
                                    volatility. It is a completely secure financial instrument with an assured sum at
                                    maturity, similar to traditional insurance. The money you put into your CD will
                                    continue to predictably increase and there is no risk of any loss. It is a very
                                    secure short to mid-term investment.
                                </li>
                                <li>
                                    <h3>High-Interest Rate:</h3>
                                    This benefit is what attracts most investors towards a CD. They offer larger rates
                                    of interest which can go as high as 7.8% on the lump sum deposited than traditional
                                    savings accounts whose interest rates average around 4%.
                                </li>
                                <li>
                                    <h3>Flexibility: </h3>
                                    You can opt for monthly payouts, annual payouts, or a lump sum withdrawal of your CD
                                    at maturity. You can pick the duration and price you want to invest, although it has
                                    to fit certain parameters set by the bank. Tailoring the CD to your needs helps you
                                    get the most from it.
                                </li>
                                <li>
                                    <h3>Low to Minimum Maintenance Costs: </h3>
                                    When it comes to the market there are always brokerage costs for the delivery,
                                    buying and selling of shares. There are usually no additional costs associated with
                                    a CD. You only pay what you invest with some banks.

                                </li>
                            </ul>
                        </article>
                        <article>
                            <h3 id="conclusion">Conclusion</h3>
                            <p>Issuing a certificate of deposit is a secure way to invest in the short to medium term.
                                Hopefully, this guide to CDs has shown you the eligibility, features, and benefits of
                                fixed income instruments like CDs and why you should invest in them for your financially
                                securing your future. </p>
                            <p>However, before you can proceed with your CD, you would first need to <a
                                    href="https://www.indiainfoline.com/open-demat-account">open a Demat account</a>.
                                Demat account is short for a dematerialized account. An online Demat account is required
                                to hold dematerialized securities like a CD. You can open a <a
                                    href="https://www.indiainfoline.com/about-demat-account">Demat account</a> with a
                                few, simple, easy steps and be well on your way to procuring your first CD. </p>
                        </article>
                    </div>
                    <div id="bond">
                        <h3>3. Bonds </h3>
                        <p>Bond is one of the debt investment types in India. Investors lend money to the issuer company
                            in exchange of a bond and in return of the bond, the issuer is obliged to pay interest on
                            the principal amount. The issuer is required to repay money borrowed along with a fixed rate
                            of interest on the amount borrowed. Nowadays, variable rate of interest is also quite
                            common.</p>
                        <h4>Investment tips for Bonds in India</h4>
                        <ul>
                            <li><span class="font-16"><span class="default-text-color">Bonds&nbsp;come with maturity
                                        dates by which the borrower is required to pay principal amount back in
                                        full&nbsp;or risk default<br>
                                    </span></span></li>
                            <li><span class="font-16"><span class="default-text-color">Bond are the types of investment
                                        in India which traditionally comes with a fixed rate of interest (also known as
                                        coupon). But, nowadays variable rate of interest option is also
                                        available</span></span></li>
                        </ul>
                        <h4>How and where to start</h4>
                        <div>These days, even small investors can also buy government bonds. In India,
                            purchasing government bonds is easier than ever using a mobile app or a web based app of NSE
                            (National Stock Exchange). The NSE app for buying government bonds is “NSE goBID“. NSE makes
                            available to the users both a mobile app as well as a web based platform. When you buy
                            government bonds via these apps, youa re buying them in the primary market.
                            <br>
                            <strong><br>What you can buy on these apps?</strong>
                            <br>
                            <br>You can use these apps to buy the following kinds of bonds:
                            <br>
                            <br>
                            <ul class="summary-list">
                                <li>Long-term government bonds that you can hold for a long period from 5 to 40 years
                                </li>
                                <li>Treasury bills (T-bills) which you can hold for less than 1 year </li>
                            </ul>
                            <strong>Here is how and why you must buy government bonds</strong>

                            <br>To be able to buy these government bonds, you need to complete the registration on
                            NSE
                            goBID. The registration is a simple process that you can complete online.
                            {#                            <br>#}
                            {#                            <br>#}
                            <strong>Here are the other details you will have to know before buying the government
                                bonds
                                or T-bills. </strong>
                            <br>
                            <br>Before November 2017, small investors or common people could never buy Government
                            Securities (G-Secs) like bonds and T-bills. After the RBI commenced the “Non-competitive
                            Bidding Facility“, G-secs became easily available for common people.
                            <br>Bonds or T-bills are G-secs provided by government of India for the purpose of
                            borrowing
                            money from investors. While the big investors are entities like banks, insurance
                            companies,
                            mutual funds, trusts, and corporates, smaller investors will mean HNI’s, NRIs, HUF
                            members,
                            and individuals.
                            <br>
                            <br>Earlier, the G-sec market was predominantly available only to big investors like
                            banks,
                            insurance companies and mutual funds. For small investors, it was a difficult process to
                            invest in bonds. Also since the big players would deal with larger volumes, the small
                            investors could not compete with them during the process of auctioning. The
                            non-competitive
                            bidding process announced by the RBI made it possible for the small investors and
                            individuals to buy government bonds using the NSE goBID app with the minimum value of
                            the
                            bond being Rs.10,000. The investors will get the bonds at the weighted average rate and
                            they
                            need not worry about the auction.
                            <br>
                            <br>You can think of investing in government bonds when you will not need the invested
                            money
                            oer a short time and if fixed income is your top priority. People seeking financial
                            independence and retired persons usually prefer to invest in government bonds more than
                            others. Government bonds assure security as well as generate a regular income. Another
                            impetus for many people to invest in government bonds is that the interest generated
                            from
                            one type of government bonds is not liable to income tax. Those people who are in the
                            maximum tax bracket will find this a highly profitable option.
                        </div>
                        <div class="clearfix"></div>
                        <br>Most kinds of government bonds are listed for trading on the stock exchange which is
                        known as the secondary market. Once you buy these bonds, you can also sell them to
                        interested buyers in course of time. However, it is advisable that you hold the government
                        bonds for its full tenure (5, 10, 15, 20, or 30 years as is the case may be) to get the
                        fullest benefits.
                        <br>
                    </div>
                    <div id="land">
                        <h3>4. Real Estate</h3>
                        <p>Investing in real estate involves purchasing residential or commercial properties to allow
                            your capital to appreciate or to generate regular rental income. With such investment types,
                            you get to enjoy a steady stream of income in the form of rent. Another strategy is to
                            purchase real estate units, hold them, and then sell them at a later point in time for a
                            higher price, thus earning a significant return on your initial investment. </p>
                        <h4>Investment in Real Estate Tips</h4>
                        <ul>
                            <li><span class="font-16"><span class="default-text-color">If you are looking to score a
                                        higher rate of appreciation, make simple improvements and upgrades to your real
                                        estate investment. This can go a long way in increasing the market value of your
                                        property</span></span></li>
                            <li><span class="font-16"><span class="default-text-color">Understand the additional costs
                                        you may have to incur on your real estate purchase. These may include annual
                                        maintenance and upkeep outgo, taxation, utility expenses and more<br>
                                    </span></span></li>
                        </ul>

                    </div>
                    <div id="fd">
                        <h3>5. Fixed Deposits (FD)</h3>
                        <p>Fixed Deposits, which are offered by banks and non-banking financial organisations (NBFCs),
                            are an excellent option to grow your funds while maintaining the highest level of safety.
                            Among the different types of investments in India, this remain a popular choice since it
                            allows you to deposit a lump sum cash with your lender and choose a tenor that suits your
                            needs. Following the conclusion of the pre-determined tenor, your deposit begins collecting
                            interest at the interest rate you locked in for the duration of your deposit.</p>
                        <h4>Investment tips for Fixed Deposits</h4>
                        <ul>
                            <li><span class="font-16"><span class="default-text-color">Premature withdrawals from your
                                        FDs will incur a penalty. Hence, it is advisable to choose a suitable deposit
                                        tenure after keenly evaluating your future financial goals</span></span></li>
                            <li><span class="font-16"><span class="default-text-color">While FDs are generally assumed
                                        to be risk-free types of investments in certain circumstances, they carry with
                                        them an amount of risk. &nbsp;In the event that a bank fails financially, you
                                        are insured an amount of Rs.5 lakh per bank per depositor. By splitting your
                                        investment across different banks, you can effectively safeguard a good chunk of
                                        your finances</span></span><br>
                            </li>
                        </ul>
                    </div>
                    <div id="mf">
                        <h3>6. Mutual Funds</h3>
                        <p>Mutual funds (MFs) invest in market-linked instruments such as stocks, bonds, or a mix of
                            both equity and debt instruments. The different types of investors in India can choose
                            between equity funds, debt funds, and balanced funds depending on your financial goals and
                            requirements. Furthermore, you can also invest small amounts periodically in MFs using a
                            Systematic Investment Plan (SIP).</p>
                        <h4>Investment tips for Mutual Funds</h4>
                        <ul>
                            <li><span class="font-16"><span class="default-text-color">Review your risk preferences
                                        before choosing from the different types of investment&nbsp;options. Invest in
                                        equity mutual funds if you have a higher risk appetite; for conservative
                                        investors, debt schemes are ideal. The options exist to suit the preferences of
                                        varying types of investors in India.</span></span></li>
                            <li><span class="font-16"><span class="default-text-color">Understand the prevalent taxation
                                        system before investing. You can invest in tax-saving mutual funds such as the
                                        ELSS (Equity Linked Savings Scheme) to help maximize your returns<br>
                                    </span></span></li>
                            <li><span class="font-16"><span class="default-text-color">Understand the various charges
                                        you may incur while choosing different funds in these investment types. This is
                                        commonly known as the expense ratio.<br>
                                    </span></span></li>
                        </ul>
                    </div>
                    <div id="ppf">
                        <h3>7. Public Provident Fund (PPF)</h3>
                        <p>Considered to be one of the safest option among the different types of investment in India,
                            Public Provident Fund (PPF) is an instrument backed by the government. You can invest in PPF
                            by opening an account with any bank or post office. While opening the account, the minimum
                            investment amount is as low as Rs.100 in some of the banks (can vary for every bank).
                            Thereafter, the annual limits for PPF deposits range from a minimum of Rs.500 to a maximum
                            of Rs.1.5 lakh. These investment types come with a lock-in period of 15 years and are
                            eligible for tax deductions under section 80C of the Income Tax Act, 1961.</p>
                        <h4>Investment Tips for PPF</h4>
                        <ul>
                            <li><span class="font-16"><span class="default-text-color">PPF interest is calculated on the
                                        basis of the minimum balance in one’s PPF account between the 5th of the month
                                        and the month end. Thus, you should make it a practice to invest before the 5th
                                        of every month</span></span></li>
                            <li><span class="font-16"><span class="default-text-color">Investing in a PPF through a bank
                                        that provides the facility of online transfers is a must. This spells
                                        convenience and efficiency for investors and helps facilitate regular
                                        contributions.<br>
                                    </span></span></li>
                        </ul>
                    </div>
                    <div id="nps">
                        <h3>8. National Pension System (NPS)</h3>
                        <p>The&nbsp;National Pension System (NPS)&nbsp;is another investment plan backed by the
                            government of India. It falls under the types of investments in India&nbsp;that focuses on
                            saving for the long term, making it the perfect addition to your <a
                                href="https://www.maxlifeinsurance.com/retirement-plans" target="_blank"
                                title="retirement investment plan."><u>retirement investment plan</u></a>. The amount
                            you park in this scheme is invested in a variety of other investment vehicles like equity,
                            deposits, government securities, corporate bonds, and other funds. You can remain invested
                            till you reach the age of 60.</p>
                        <h4>Investment Tips for NPS</h4>
                        <ul>
                            <li><span class="font-16"><span class="default-text-color">Make the most of your NPS
                                        investment by claiming the applicable tax benefits</span></span></li>
                            <li><span class="font-16"><span class="default-text-color">NPS contributions are investment
                                        types&nbsp;that qualify for deduction under sections 80CCD (1), 80CCD (1B), and
                                        80CCD (2)</span></span></li>
                        </ul>
                    </div>
                    <div id="ulc">
                        <h3>9. Unit Linked Insurance Plans (ULIP)</h3>
                        <p>Unit Linked Insurance Plans (ULIPs) are among types of investments in India&nbsp;that come
                            with tax benefits as well. It is an instrument that offers you the advantage of investment
                            combined with insurance. The premium you pay to remain invested is divided into two
                            portions. One part goes towards providing you a protective life cover, while the other is
                            invested in market-linked instruments or funds. <a
                                href="https://www.maxlifeinsurance.com/blog/investments/types-of-investments-in-india"
                                target="_blank" title="ULIPs "><u>ULIPs</u></a>&nbsp;also provide deductions under
                            Income Tax Act 1961 as per prevailing tax laws, since the premium paid is deductible, and
                            the maturity benefits and long-term capital gains are tax-free.</p>
                        <h4><b>Investment Tips for ULIPs</b></h4>
                        <ul>
                            <li><span class="font-16"><span class="default-text-color">Make note of the charges you may
                                        incur upon investing in these types of investment. These may include premium
                                        allocation charges, administrative charges, fund management charges, mortality
                                        charges and more. Invest in a ULIP from an insurer provider that levies a
                                        minimum amount of charges</span></span></li>
                            <li><span class="font-16"><span class="default-text-color">Opt for a ULIP that provides an
                                        optimum amount of flexibility. You should pick a plan that offers flexibility in
                                        terms of premium payments, customizable plans with different fund options. To
                                        cater to the needs of different types of investors in India, ULIPs allow the
                                        ability to easily redirect your premiums and switch funds, according to market
                                        movements and evolving risk appetite.<br>
                                    </span></span></li>
                            <li><span class="font-16"><span class="default-text-color">ULIPs are investment
                                        types&nbsp;that offer flexibility to opt for an asset allocation strategy
                                        depending on the risk appetite and goal in mind. Policyholder can opt for a
                                        fixed proportion to be maintained in equity and debt throughout the policy
                                        term.&nbsp;&nbsp;&nbsp;</span></span></li>
                        </ul>
                    </div>
                    <div id="sc">
                        <h3>10.Senior Citizens’ Savings Scheme</h3>
                        <p>SSenior Citizens’ Savings Scheme (SCSS) is one of the types of investments backed by the
                            Government of India. Indian residents over 60 years of age can open an SCSS account and
                            invest in this scheme for a block of 5 years. Thereafter, the investment can be extended by
                            another 3 years, if needed. You can deposit up to Rs.15 lakh in your SCSS account in
                            multiples of Rs.1,000 only. Deposits up to Rs.1 lakh can be made in cash. However, deposits
                            over Rs.1 lakh need to be made&nbsp;using a demand draft or cheque. Investments in SCSS also
                            qualify for deduction under section 80C, up to a limit of Rs.1.5 lakh.</p>
                        <h4><b>Investment Tips for SCSS</b></h4>
                        <ul>
                            <li><span class="font-16"><span class="default-text-color">While investors do have the
                                        option of premature withdrawal, they must bear in mind that a penalty charge
                                        ranging from 1-1.5% of the deposit will be levied</span></span></li>
                            <li><span class="font-16"><span class="default-text-color">While the SCSS provides a high
                                        rate of interest as compared to other fixed income instruments, this interest
                                        rate may be subject to change based on a quarterly review. Investors must keep
                                        track of this rate of interest.</span></span><br>
                            </li>
                        </ul>
                    </div>
                    <h2>Bonous tips because you came till hear</h2>
                    <ul>
                        <li><span class="font-16"><span class="default-text-color">There are different types of
                                    investors in India, hence, it is crucial to identify your tolerance for risk. The
                                    types of investments you choose will depend greatly on your risk
                                    tolerance.</span></span></li>
                        <li><span class="font-16"><span class="default-text-color">Use an investment calculator to get a
                                    rough estimate of how the instruments you are planning to invest in will yield
                                    returns after their term is up. There are many investment calculators available for
                                    free online<br>
                                </span></span></li>
                        <li><span class="font-16"><span class="default-text-color">Chart out your short-term and
                                    long-term financial goals, and pick the different types of investments&nbsp;that
                                    align with those objectives</span></span></li>
                        <li><span class="font-16"><span class="default-text-color">Diversify your investment portfolio,
                                    so it has a balanced mix of high-risk and low-risk investments<br>
                                </span></span></li>
                        <li><span class="font-16"><span class="default-text-color">Ensure that you have a retirement
                                    investment plan in place, because it’s important to save for your golden years<br>
                                </span></span></li>
                        <li><span class="font-16"><span class="default-text-color">Review the different types of
                                    investments&nbsp;in your portfolio periodically to verify if they continue to remain
                                    aligned with your personal goals<br>
                                </span></span></li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </main>
    <!-- Footer-->
    {% include "footer.html" %}
</body>

</html>