<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" %}
    <title>Let's Finance</title>
</head>
<body>
    {% include "navbar.html" %}
    <header class="masthead" style="background-image: url('../static/assets/img/bg.jpeg') ">
            <div class="container position-relative px-4 px-lg-5">

                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>ㅤㅤㅤㅤㅤㅤ</h1>
                        </div>
                        <h2>ㅤㅤㅤㅤㅤㅤ</h2>
                    </div>
                </div>
            </div>
    </header>
    <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <a href="{{ url_for("ytolearnpage") }}"><h2 style="text-align: center"> Why To Invest ? </h2></a>
                    <div class="heading-blog">
                        <h5>Lazy to read then listen</h5>
                        <audio controls controlsList="nodownload"><source src="../static/assets/audio/there.mp3" type="audio/mp3"></audio>
                    </div>
                    <p class="post-subtitle-blog">There is a lot of said and done about investing. It is an ocean, everyone can enjoy you need not be a sailor. But some just wet their feet in the water and some stay away just admiring the waves.....</p>
                    <br>
                    <hr>
                <h2  style="text-align: center"><a target="_blank" href="https://docs.google.com/spreadsheets/d/1uhvNbeX9lB2Un6l6-oCQTfcJqgm0gVqN/edit?usp=sharing&ouid=109784535701284108784&rtpof=true&sd=true">Investing Profits</a></h2>
                <iframe class="heading-qs" style="width: 100%;height:500px;margin: auto" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRzPuFNL5jhlEQCaq5vdTNZKG6z3bofGArWCmn8APhExqcmTo8QMwenNenzKpQqYw/pubhtml?widget=true&amp;headers=false"></iframe>
                <hr>
                    <h2 style="text-align: center"><a target="_blank" href="https://docs.google.com/spreadsheets/d/1DZS2ElJv32apFh_OkD2dYPiN6BmxcR1kclvZC6KUNM4/edit?usp=sharing">Budget</a></h2>
                <iframe class="heading-qs" style="width: 100%; margin: auto; height: 500px" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQFEpLznUXo-1P5g4TZ25X_Ba0KQDjpJ9phx313p54Z6MatJVJQUgyY--bOCeLKzVodEsNt2Or2lr-p/pubhtml?widget=true&amp;headers=false"></iframe>
                    <hr>
                    <br>
                    <h2 style="text-align: center"> Live Updates </h2>
                    <br>
                    <h2>Crypto Currency's</h2>
                <br>
                    <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>SNO</th>
                            <th>CURRENCY NAME</th>
                            <th>PRICE ₹</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for currency in all_list %}
                          <tr>
                            <td>{{ all_list.index(currency) + 1}} </td>
                            <td>{{ currency["2. From_Currency Name"] }}</td>
                            <td>{{ round(float(currency["5. Exchange Rate"])) }}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                    </table>

                </div>
                </div>
        </div>
</body>
{% include "footer.html" %}
</html>