<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" %}
    <title>Let's Finance</title>
</head>
<body>
    {% include "navbar.html" %}
    <header class="masthead" style="background-image: url('../static/assets/img/bg.jpeg') ">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>ㅤㅤㅤㅤㅤㅤ</h1>
                        </div>
                        <h2>ㅤㅤㅤㅤㅤㅤ</h2>
                    </div>
                </div>
            </div>
    </header>
    <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>SNO</th>
                            <th>CURRENCY NAME</th>
                            <th>PRICE ₹</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for currency in all_list %}
                          <tr>
                            <td>{{ all_list[currency] }} +1</td>
                            <td>{{ currency }}</td>
                            <td>{{ currency["5. Exchange Rate"] }}</td>
{#                            <td>{{ currency["5. Exchange Rate"] }}</td>#}
                          </tr>
                          {% endfor %}
                        </tbody>
              </div>
                </div>
            </div>
        </div>

</body>
</html>