<!DOCTYPE html>
<html lang="en">

<head>
    {% include "head.html" %}
    <title>Learning</title>
</head>

<body>
    {% include "navbar.html" %}
    <!-- Page Header-->
    <div class="center-it">
        <div class="heading">
            <h1>Learning</h1>
        </div>
        <hr>
        <h2>Videos</h2>
        <div class="youtube">
                <iframe width="420" height="236.25" src="https://www.youtube.com/embed/nbrkmJTuGoY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe width="420" height="236.25" src="https://www.youtube.com/embed/LLdKcFpHgM8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe width="420" height="236.25" src="https://www.youtube.com/embed/Py3rkSwsbyw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe width="420" height="236.25" src="https://www.youtube.com/embed/BKTN4C0m6MY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe width="420" height="236.25" src="https://www.youtube.com/embed/wJB90G-tsgo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe width="420" height="236.25" src="https://www.youtube.com/embed/MXCvtC0HqLE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <hr>
        <h2>Books</h2>
        <div class="books ">
            <!-- <img src="../static/images/book1.jpeg" width="12%"> -->
            <div class="list-books container">
                    <div class=" searchResultItem " >
                        <span class=" bookcover">
                      <img src="../static/images/book2.jpg">
                      </span>
                        <div class="details">
                            <div class="details">
                                <h3 class="booktitle">
                              <a href="https://www.amazon.in/Psychology-Money-Morgan-Housel/dp/9390166268/ref=asc_df_9390166268/?tag=googleshopdes-21&linkCode=df0&hvadid=397008395029&hvpos=&hvnetw=g&hvrand=10637850336697275719&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=1007740&hvtargid=pla-975498148484&psc=1&ext_vrnc=hi">The Psychology of Money</a>
                                </h3>
                            </div>
                      </div>
                      </div>
                      <div class=" searchResultItem  ">
                        <span class=" bookcover">
                      <img src="../static/images/book1.jpeg">
                      </span>
                      <div class="details">
                          <div class="resultTitle">
                              <h3 class="booktitle">
                                  <a href="https://www.amazon.in/Indian-Should-Before-Investing-understand-ebook/dp/B075KGXXF6/ref=mp_s_a_1_1?crid=PC2I02H5EFVH&keywords=what+every+indian+should+know+before+investing&qid=1639763101&sprefix=what+every%2Caps%2C346&sr=8-1">What Every Indian Should Know Before Investing</a>
                              </h3>
                          </div>
                      </div>
                      </div>
                      <div class=" searchResultItem  ">
                        <span class=" bookcover">
                      <img src="../static/images/book3.jpg">
                      </span>
                      <div class="details">
                          <div class="resultTitle">
                              <h3 class="booktitle">
                                  <a href="https://www.amazon.in/Visual-MBA-Everything-Business-School/dp/0241386683/ref=as_li_ss_tl?dchild=1&keywords=the+visual+mba&qid=1634332103&sr=8-1&linkCode=sl1&tag=amandhattarwa-21&linkId=059b6b1b9fdb6fe12d8120a47ec35613&language=en_IN">  The Visual MBA</a>
                              </h3>
                          </div>
                      </div>
                      </div>                    
                    <div class=" searchResultItem " >
                    <span class=" bookcover">
                    <img src="../static/images/book6.jpg">
                    </span>
                    <div class="details">
                        <div class="resultTitle">
                            <h3 class="booktitle">
                                <a href="https://www.amazon.in/Your-Money-Life-Transforming-Relationship/dp/0143115766/ref=mp_s_a_1_2?crid=2D47AXUEF8AOP&keywords=your+money+or+your+life&qid=1639762923&sprefix=your+mon%2Caps%2C380&sr=8-2"> Your money or your life</a>
                            </h3>
                        </div>
                    </div>
                    </div>
                    <div class=" searchResultItem " >
                    <span class=" bookcover">
                        <img src="../static/images/BOOK5.jpg">
                    </span>
                    <div class="details">
                        <div class="resultTitle">
                            <h3 class="booktitle">
                                <a href="https://www.amazon.in/Think-Premium-Paperback-Penguin-India/dp/0143453610/ref=mp_s_a_1_2_sspa?crid=2OM5MSZU7A466&keywords=think+and+grow+rich&qid=1639762954&sprefix=think+and+grow+%2Caps%2C376&sr=8-2-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUExSkpKOVgwSjA1VVFBJmVuY3J5cHRlZElkPUEwNTM2NzU2MkRFSkRIUTJJVFVERiZlbmNyeXB0ZWRBZElkPUEwMDk0OTA1MlkyNE5DUVo3OThWSSZ3aWRnZXROYW1lPXNwX3Bob25lX3NlYXJjaF9hdGYmYWN0aW9uPWNsaWNrUmVkaXJlY3QmZG9Ob3RMb2dDbGljaz10cnVl">    Think and Grow Rich</a>
                            </h3>
                        </div>
                    </div>
                    </div>                    
                <!-- </div> -->
            </ul>
        </div>



    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="/static/js/scripts.js"></script>
</body>

</html>