<nav id="mainNav" class="navbar navbar-expand-lg navbar-light ">
  <div class="navheader-div " >
    <a class="navbar-brand" href="{{ url_for('home') }}" style="color: black;">Let's Finance</a>
    <button class="navbar-toggler " style="position: absolute; right: 2rem" type="button" data-toggle="collapse" data-target=".dual-collapse2">
        Menu
        <i class="fas fa-bars"></i>
    </button>
  </div>
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav ms-3 ms-auto ">
                    <div class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href='{{ url_for('home') }}'>Home</a>
                    </div>
                    <div class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                            href='{{ url_for('guide') }}'>Guidance</a></div>
                    <div class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                            href='{{ url_for('quick_start') }}'>Quick Start</a></div>
                    <div class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                            href='{{ url_for('learning') }}'>Resources</a></div>
                    <div class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href='{{ url_for('alert') }}'>Price Alert</a>
                    </div>
                    <div class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                            href='{{ url_for('blog_page') }}'>Blogs</a></div>
                    <div class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                            href='{{ url_for('support') }}'>Support</a></div>
                </ul>
  </div>
</nav>
