<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" %}
    <title>Quick Start</title>
</head>
<body>
    {% include "navbar.html" %}
    <header class="masthead" style="background-image: url('../static/assets/img/qs.png') ; ">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading new-head">
                            <h1>Quick Start</h1>
                            <h2></h2>
                        </div>
                    </div>
                </div>
            </div>
    </header>
    <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class=" col-md-10 col-lg-8 col-xl-7">
                    <h3 class="heading-blog">Classification of investments according to risk</h3>
                    <ul>
                        <li><a href="#low">Low Risk</a></li>
                        <li><a href="#mod">Moderate Risk</a></li>
                        <li><a href="#hi">High Risk</a></li>
                        <li><a href="#Disclaimer">Disclaimer</a></li>
                    </ul>
                    <hr>
                    <div id="low">
                        <h2 class="heading-qs">Low Risk</h2>
                        <hr>
                        <h3 class="heading-qs">Equity & Gold - Low Risk</h3>
                        <iframe src="https://www.smallcase.com/smallcase/equity-and-gold-SCET_0005" ></iframe>
                        <hr>
                        <h3 class="heading-qs">All Weather Investing - Low Risk</h3>
                        <iframe src="https://www.smallcase.com/smallcase/all-weather-investing-SCAW_0001" ></iframe>
                        <hr>
                        <h3 class="heading-qs">NG5050 Momentum - Low Risk</h3>
                        <iframe src="https://www.smallcase.com/smallcase/ng5050-portfolio-WKIET_0001" ></iframe>
                        <hr>
                        <h3 class="heading-qs">ICICI Prudential Diversified - Low Risk</h3>
                        <iframe src="https://www.smallcase.com/smallcase/icici-prudential-diversified-ICIET_0001" ></iframe>
                        <hr>
                        <h3 class="heading-qs">ICICI Prudential Leaders - Low Risk</h3>
                        <iframe src="https://www.smallcase.com/smallcase/icici-prudential-leaders-ICIET_0002" ></iframe>
                    </div>
                    <hr>
                    <div id="mod">
                        <h2 class="heading-qs">Moderate Risk</h2>
                        <hr>
                        <h3 class="heading-qs">Top 100 Stocks - Moderate Risk</h3>
                        <iframe src="https://www.smallcase.com/smallcase/top-100-stocks-SCET_0004" ></iframe>
                        <hr>
                        <h3 class="heading-qs">ICICI Prudential Smart - Moderate Risk</h3>
                        <iframe src="https://www.smallcase.com/smallcase/icici-prudential-smart-ICIET_0003" ></iframe>
                        <hr>
                        <h3 class="heading-qs">Insurance Tracker - Moderate Risk</h3>
                        <iframe src="https://www.smallcase.com/smallcase/insurance-tracker-SCTR_0011" ></iframe>
                        <hr>
                        <h3 class="heading-qs">The Naked Trader - Moderate Risk</h3>
                        <iframe src="https://www.smallcase.com/smallcase/the-naked-trader-SCMO_0016" ></iframe>
                        <hr>
                        <h3 class="heading-qs">Energy Tracker - Moderate Risk</h3>
                        <iframe src="https://www.smallcase.com/smallcase/energy-tracker-SCTR_0003" ></iframe>
                        <hr>
                        <h3 class="heading-qs">Growth & Income - Moderate Risk</h3>
                        <iframe src="https://www.smallcase.com/smallcase/growth-and-income-SCMO_0026" ></iframe>
                    </div>
                    <hr>
                    <div id="hi">
                        <h2 class="heading-qs">High Risk</h2>
                        <hr>
                        <h3 class="heading-qs">Metal Tracker - High Risk</h3>
                        <iframe src="https://www.smallcase.com/smallcase/metal-tracker-SCTR_0008" ></iframe>
                        <hr>
                        <h3 class="heading-qs">Banking Tracker - High Risk</h3>
                        <iframe src="https://www.smallcase.com/smallcase/banking-tracker-SCTR_0002" ></iframe>
                        <hr>
                        <h3 class="heading-qs">Realty Tracker - High Risk</h3>
                        <iframe src="https://www.smallcase.com/smallcase/realty-tracker-SCTR_0010" ></iframe>
                        <hr>
                        <h3 class="heading-qs">Banking Privately - High Risk</h3>
                        <iframe src="https://www.smallcase.com/smallcase/banking-privately-SCNM_0008" ></iframe>
                        <hr>
                        <h3 class="heading-qs">Infra Tracker - High Risk</h3>
                        <iframe src="https://www.smallcase.com/smallcase/infra-tracker-SCTR_0005" ></iframe>
                        <hr>
                        <h3 class="heading-qs">Digital Inclusion - High Risk</h3>
                        <iframe src="https://www.smallcase.com/smallcase/digital-inclusion-SCNM_0014" ></iframe>
                        <hr>
                    </div>
                    <h3 class="heading-qs">Disclaimer</h3>
                    <p id="Disclaimer" class="heading-qs">
                        The investments discussed or recommended in the market analysis, research reports, etc. may not be suitable for all investors. Investors must make their own investment decisions based on their specific investment objectives and financial position and only after consulting such independent advisors as may be necessary.
                    </p>
                </div>
            </div>
    </div>




    {% include "footer.html" %}
</body>
</html>