<!DOCTYPE html>
<html lang="en">
    {% include "head.html" %}
    <title>Support</title>
    <body>
        <!-- Navigation-->
        {% include "navbar.html" %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('../static/assets/img/price.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading new-head">
                            {% if message==True %}
                            <h1>Sent...</h1>
                            <h2 class="">I will reply you soon</h2>
                            {% else %}
                            <h1>Support</h1>
                            <h2 class="">You have questions i have answers </h2>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                      <div class="my-5">
                            <form id="contactForm" action="{{ url_for('support') }}" method="post">
                                <div class="form-floating">
                                    <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" name="name"/>
                                    <label for="name">Name</label>
                                    <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="email" type="email" placeholder="Enter your email..." data-sb-validations="required,email" name="email"/>
                                    <label for="email">Email address</label>
                                    <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                                    <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="phone" type="tel" placeholder="Phone Number" data-sb-validations="required" name="phone"/>
                                    <label for="phone">Phone Number</label>
                                    <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                                </div>
                                <div class="form-floating">
                                    <textarea class="form-control" id="phone" placeholder="Enter Your Desired Price" data-sb-validations="required" name="message"></textarea>
                                    <label for="phone">Message</label>
                                    <div class="invalid-feedback" data-sb-feedback="phone:required">A message is required.</div>
                                </div>

                                <br />
                                <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                                <!-- Submit Button-->
                                <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Send</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->
        {% include "footer.html" %}
        <!-- Bootstrap core JS-->
    </body>
</html>
