<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include "head.html" %}
    <title>Why To Invest ?</title>
</head>
<body>
        {% include "navbar.html" %}
    <header class="masthead" style="background-image: url('../static/assets/img/invest.jpg') ">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Why To Invest</h1>
                        <h2>????????</h2>
                        </div>
                    </div>
                </div>
            </div>
    </header>

    <div class="add-padding">
        <div class="heading-blog">
                        <h5>Lazy to read then listen</h5>
                        <audio controls controlsList="nodownload"><source src="../static/assets/audio/there.mp3" type="audio/mp3"></audio>
                    </div>
        <p class="post-subtitle-blog">There is a lot of said and done about investing. It is an ocean, everyone can enjoy you need not be a sailor. But some just wet their feet in the water and some stay away just admiring the waves. Those who admire the waters and wish to experience the sea must stop wasting time by the bay and should enjoy the waves early. Now since you wish to get into the waters, delaying to act results in missing out the fun. Similarly, if you have already decided to invest, why miss out on good returns by delaying? Let’s learn the 5 key consequences of delay in investing.</p>
        <hr>
        <h2 class="heading-blog">Weaker returns</h2>
        <p class="post-subtitle-blog">Consider Mr. X is 21 years old and Mr. Y is 41. Both of them invest an amount of Rs. 12,000 per annum (i.e.Rs.1,000 per month) for 20 years. Considering the 20% CAGR returns, their money grows upto about Rs. 26,88,307/- Now Mr. Y is 61 years old while Mr. X is at 41, the age where Mr. Y started to invest. If Mr. X continues to invest the same amount, considering the CAGR to be 20% by the age of 61 years his returns would be Rs. 10,57,51,552/-</p>
        <hr>
        <h2 class="heading-blog ">Comparatively Higher investments</h2>
        <p class="post-subtitle-blog">Now let’s take another example, consider your colleague starts investing Rs. 1000 per month for 10 years (i.e. Rs 12,000 per annum)and his money starts growing at 20% CAGR by the 5th year, he/she would have invested Rs. 60,000/- which would have grown upto Rs. 1,07,159/- Now looking at his/her money grow, eventually you decide to invest double the amount (i.e. Rs 2,000 per month) for next 5 years. Both of you would be investing the same amount altogether but considering the constant CAGR you would make Rs. 1,49,018/- while your colleague would have made Rs. 3,85,805/- by magic of compounding. You may have to invest more than 3 times of his/her monthly investments to get closer to your colleague’s returns.</p>
        <hr>
        <h2 class="heading-blog ">Change of risk appetite</h2>
        <p class="post-subtitle-blog">Generally, you have higher risk appetite at the young age. With the passage of time, your responsibilities grow and financial planning may suffer in the future. It is recommended to invest at the young age so that the returns could be higher by the time of requirements. Later on, if invested late when the risk appetite lowers due to the newer financial goals and other responsibilities, your investments may get overshadowed.</p>
        <hr>
        <h2 class="heading-blog ">Change in expense priorities</h2>
        <p class="post-subtitle-blog">Do you consider your rising expenses, financial goals and inflation in the times to come? Rising inflation lowers down the value of rupee over the period of time. Simultaneously, your expense priority would change according to changing lifestyles and necessities. Your future expenses partly depend on your current financial plans and change of income in the future.</p>
        <hr>
        <h2 class="heading-blog ">Missing on saving vs. investing benefits</h2>
        <p class="post-subtitle-blog">If your money is in savings, it’s great! Savings are good options for immediate or short term plans. Your money may grow at certain rate of interest which can be withdrawn according to your short term needs. But investing your money for long run makes it easier to achieve your goals which may seem difficult by just savings. Investing often delivers much higher percentage of returns than savings do. Yes, it does involve risk but if invested early and correctly, the potential returns may help you enjoy the bigger goals in the ocean of investing.</p>
        <a href="#"><p>source</p></a>
    </div>
    {% include "footer.html" %}
</body>
</html>